@{
    ViewBag.Title = "Nosotros";
}

<style>
    Body {
        background-image: linear-gradient(270deg, #c2ebff 0, #c2ebff 50%, #c2ebff 100%);
    }
</style>

<nav style="padding: 40px;">
    <div><h1 class="titulo"><b>¿Quiénes somos?</b></h1></div><br />
    <center>
        <img class="imagen1" src="~/img/imagen1.gif" />
    </center><br />
    <table class="quienesSomos">
        <tr>
            <td>Emanuel José, Molina Zúniga</td>
            <td>MZ210716</td>
        </tr>
        <tr>
            <td>Carlos Antonio, Ortiz Tobar </td>
            <td>OT192611</td>
        </tr>
        <tr>
            <td>Brayan Alexander, Villalta Gutierrez</td>
            <td>VG210501</td>
        </tr>
        <tr>
            <td>Rudis Eduardo, Benitez Reyes</td>
            <td>BR202466</td>
        </tr>
        <tr>
            <td>Jairo Dennis, Ramos Jiménez</td>
            <td>RJ172021</td>
        </tr>
    </table><br /><br />
</nav>
